In [2]:
import pandas as pd

In [7]:
df = pd.read_csv("example-1.csv")

df

     Branch         Date   Amount
0  Branch A   Janurary 1    500.0
1  Branch B   Janurary 2    250.0
2  Branch C   Janurary 3    300.0

In [9]:
# if csv doesn't contain a header info.
# df = pd.read_csv("example-1.csv", header=None)

In [12]:
# Save df to csv
df.to_csv("data.csv", index=False)